<a href="https://colab.research.google.com/github/els326/nyu-python-public-policy/blob/master/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv',header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# What is the minimum value in the "Created Date" column? It is August 1st, 2018 12:00:26 AM.

df['Created Date'].min

<bound method Series.min of 0          08/01/2018 12:00:10 AM
1          08/01/2018 12:00:26 AM
2          08/01/2018 12:00:54 AM
3          08/01/2018 12:01:00 AM
4          08/01/2018 12:01:00 AM
                    ...
2859195    08/24/2019 02:00:14 AM
2859196    08/24/2019 02:00:20 AM
2859197    08/24/2019 02:00:27 AM
2859198    08/24/2019 02:00:54 AM
2859199    08/24/2019 02:00:56 AM
Name: Created Date, Length: 2859200, dtype: object>

In [7]:
# What is the maximum value in the "Created Date" column? It is August 24th, 2019 2:00:56 AM.

df['Created Date'].max

<bound method Series.max of 0          08/01/2018 12:00:10 AM
1          08/01/2018 12:00:26 AM
2          08/01/2018 12:00:54 AM
3          08/01/2018 12:01:00 AM
4          08/01/2018 12:01:00 AM
                    ...
2859195    08/24/2019 02:00:14 AM
2859196    08/24/2019 02:00:20 AM
2859197    08/24/2019 02:00:27 AM
2859198    08/24/2019 02:00:54 AM
2859199    08/24/2019 02:00:56 AM
Name: Created Date, Length: 2859200, dtype: object>

I thought that the 311 data was for the full calendar years of 2018 and 2019. So I would expect the minimum date to be in January 2018 and the maximum date to be in October 2019.

I'm interested in the grouping and dictionary functions. One thing I'm interested for work is: how do we create another column in the data set with new values for the values in the original data set? And then group by those new values. In Excel, I've used vlookups and pivot tables to do this.