<a href="https://colab.research.google.com/github/els326/nyu-python-public-policy/blob/master/HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,18,21,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
# Phone is the most common method used to submit a complaint. 1,463,204 complaints were made by phone.

df.groupby('open_data_channel_type').size().nlargest(5).reset_index(name='count')

  open_data_channel_type    count
0                  PHONE  1463204
1                 ONLINE   589865
2                UNKNOWN   417916
3                 MOBILE   368759
4                  OTHER    19267

In [14]:
channel_counts = df.groupby(['open_data_channel_type', 'complaint_type']).size().reset_index(name='count')

channel_counts.sort_values(['complaint_type'])

    open_data_channel_type           complaint_type  count
223                  PHONE                APPLIANCE  12002
40                  ONLINE                APPLIANCE   2627
0                   MOBILE        Abandoned Vehicle   2484
224                  PHONE        Abandoned Vehicle   5069
41                  ONLINE        Abandoned Vehicle   1891
..                     ...                      ...    ...
194                 ONLINE             Window Guard     17
413                  PHONE             Window Guard     13
518                UNKNOWN             Window Guard      1
195                 ONLINE  X-Ray Machine/Equipment      5
414                  PHONE  X-Ray Machine/Equipment      4

[519 rows x 3 columns]

It appears that people submit complaints to 311 based on the convenience of using certain contact methods. For example, some abandoned vehicles are reported by mobile, which makes sense since people may spot those while out of the house.

In [18]:
channel_counts.sort_values(['count','open_data_channel_type'], ascending=[False,True]).drop_duplicates(['complaint_type'])

    open_data_channel_type                       complaint_type   count
367                  PHONE  Request Large Bulky Item Collection  177175
303                  PHONE                       HEAT/HOT WATER  128002
343                  PHONE                  Noise - Residential   95407
244                  PHONE                     Blocked Driveway   95206
501                UNKNOWN               Street Light Condition   77755
..                     ...                                  ...     ...
195                 ONLINE              X-Ray Machine/Equipment       5
227                  PHONE                      Advocate - RPIE       5
229                  PHONE       Advocate-Commercial Exemptions       5
245                  PHONE                        Bottled Water       5
454                UNKNOWN                 Forensic Engineering       5

[229 rows x 3 columns]